* {
  box-sizing: border-box;
color: #ee6204f2;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  max-width: 400px;
}
.square{
  height: 16px;
  width: 16px;
  background-color: #1d1d1d;
  margin: 2px;
  box-shadow: 0 0 2px #000;
  transition: 0.0200s ease-in;
}